* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */

.technologies-bg-con {
  background-color: #f4faff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.technologies-heading {
  text-align: center;
  color: #171f46;
}

.technologies-description {
  text-align: center;
  font-size: 16px;
  max-width: 600px;
  color: #64748b;
}

.technologies-card-con {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  max-width: 800px;
}
